apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-config
  namespace: devops
data:
  SPRING_DATASOURCE_URL: jdbc:mysql://mysql-service:3306/studentdb?createDatabaseIfNotExist=true

---
apiVersion: v1
kind: Secret
metadata:
  name: spring-secret
  namespace: devops
type: Opaque
data:
  SPRING_DATASOURCE_USERNAME: cm9vdA== # base64("root")
  SPRING_DATASOURCE_PASSWORD: "" # mot de passe vide → base64("") = "" (chaîne vide)

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
  namespace: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
        - name: app
          image: hsounasellami/student-management:1.0.0
          ports:
            - containerPort: 8089 # → TON port Spring Boot
          envFrom:
            - configMapRef:
                name: spring-config
            - secretRef:
                name: spring-secret

---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
spec:
  type: NodePort
  selector:
    app: student-app
  ports:
    - port: 8089 # service port
      targetPort: 8089 # container port
      nodePort: 30089 # j’ai mis un port logique
